{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "babel-plugin-rewire-exports"
    ],
    "exclude": [
        "node_modules/**",
		"libs/**"
    ]
}
