<div style="display: flex;flex-direction: column;">
  <div class="toolbar" role="banner">
    <img width="80" alt="Angular Logo" src="https://parall.ax/parallax-2016/img/svg/jspdf-logo.svg" />
  </div>
  <div style="display: flex; flex-direction: row;">
    <div style="padding-left: 20px;padding-top: 20px;">
      <mat-form-field appearance="outline" style="width: 400px;">
        <mat-label>Enter Text</mat-label>
        <textarea matInput placeholder="PDF Text" style="height: 90px;resize: none;" [(ngModel)]="text"></textarea>
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" (click)="generatePDF()">View PDF</button>

    </div>
    <div style="width: 50%;height: 75vh;padding-left: 20px;padding-top: 20px;">
      <pdf-viewer [src]="pdfSrc" [fit-to-page]="true" [autoresize]="true" [show-borders]="true" [original-size]="true" [zoom]="0.38">
      </pdf-viewer>
    </div>
  </div>
</div>