.row-fluid .no-gutter {
	margin-left: 0px;
}

footer {
	text-align: center;
	margin: 30px 0;
}

#editor {
	width: 50%; 
	height: 400px; 
	float: left; 
	clear: left; 
	position: relative;
}

.controls {
	float: left;
	clear: left;
	width: 50%;
	padding-top: 10px;
}

