name: Mark and close stale issues

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue is stale because it has been open 90 days with no activity. It will be closed soon. Please comment/reopen if this issue is still relevant.'
        stale-issue-label: 'no-issue-activity'
        exempt-issue-labels: 'Bug,Feature Request,persistent'
        remove-stale-when-updated: true
        days-before-stale: 90
        days-before-close: 7
